.home {
    @include x-padding;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
   
    .search-bar {
        margin-top: 2rem;
        padding: .2rem;
        background-color: white;
        text-align: center;
        width: 50%;

        position: relative;
        input {
            margin: .3rem;
            border: none;
            padding: .5rem;
            width: 80%;
        }

        img {
           width: 1rem;
           height: auto;
           padding-right: .5rem;
           opacity: 0.5;

           &:hover {
               cursor: pointer;
           }
        }

        .hamburger {
            padding-top: .5rem;
        }
    }
    .searchHistory { 
        background-color: white;
        width: 40%;
        height: auto;
        position: absolute;
        top: 7rem;
        right: center;

        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;

        ul {
            margin: 0;
            list-style: none;
            padding-top: .5rem;
        
            li {
                display: flex;
                justify-content: space-between;

                a {
                    color: black;
                    cursor: pointer;

                    &:active {
                        color: rgb(73, 3, 73);
                    }
                }

                span {
                    color: gray;
                    font-weight: lighter;
                    padding-right: 2rem;
                    cursor: pointer;
                }
            }
        }
    }
}
